.markdownlint.json
.eslint.json
.vs_code/
.gitignore
testMe.js

params/*

!params/a_params.json
!params/e_params.json
!params/ea_params.json
!params/allDefaults_params.json

test/*
!test/pathFrom
!test/testMe.js
!test/testProjFile.json

test/out/*
!test/out/pathFrom


